{% extends "books_authors_app/base.html" %}
{% block titulo %}BIENVENIDA{% endblock %}
{% block estilo %}

<style>
    h1{
        text-align: center;
        font-size: 50px;
    }
</style>
{% endblock  %}
{% block contenido %}
<div class="container mt-2">
    <h1>Bienvenida</h1>
    <hr>
    <h3>Books List</h3>
</div>
<div class='row'>
    <div class="container col-6 mt-2">
        <table class="table border">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Title</th>
                    <th class='text-center' scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                <th scope="row">{{book.id}}</th>
                <td>{{book.title}}</td>
                <td><a href="/books/{{book.id}}">Details</a></td>
                <td><a type="button" class="btn btn-primary" href="/delete/{{book.id}}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container col-5">
        <form action="" method="post">
            {% csrf_token %}
            <label for="">Title</label>
            <input type="text" name="titulo" class="form-control">
            <label for="" class="form-label">Descripción</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name='descripcion' rows="4"></textarea>
                <button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary mt-3">Add</button>
                
        </form>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="/delete/{{book.id}}" type="button" class="btn btn-primary">Save changes</a>
      </div>
    </div>
  </div>
</div>
{% endblock  %}